<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
	<persistence-unit name="MapPidev-ejb">
		<jta-data-source>java:/sqlserver/GestMap</jta-data-source>
		<class>tn.esprit.entities.DayOff</class>
		<class>tn.esprit.entities.Demand</class>
		<class>tn.esprit.entities.Document</class>
		<class>tn.esprit.entities.Event</class>
		<class>tn.esprit.entities.File</class>
		<class>tn.esprit.entities.HistoricalMandate</class>
		<class>tn.esprit.entities.HistoricalMandatePK</class>
		<class>tn.esprit.entities.Mandate</class>
		<class>tn.esprit.entities.MandatePK</class>
		<class>tn.esprit.entities.Message</class>
		<class>tn.esprit.entities.Project</class>
		<class>tn.esprit.entities.Request</class>
		<class>tn.esprit.entities.RequiredSkill</class>
		<class>tn.esprit.entities.Skill</class>
		<class>tn.esprit.entities.Skillsofproject</class>
		<class>tn.esprit.entities.Test</class>
		<class>tn.esprit.entities.User</class>
		<class>tn.esprit.entities.resourceSkills</class>
		<class>tn.esprit.entities.resourceSkillsPK</class>
		<class>tn.esprit.entities.CustomRole</class>
		<class>tn.esprit.entities.CustomUserClaim</class>
		<class>tn.esprit.entities.CustomUserLogin</class>
		<class>tn.esprit.entities.CustomUserRole</class>
		

		<properties>
			<property name="hibernate.hbm2ddl.auto" value="update"/>
		</properties>
	</persistence-unit>
</persistence>
